*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    
}
.navbar ul{
    display: flex;
    list-style: none;
       
}